<h1>Crear doctor</h1>
<form class="mt-3" method="post">
    <label class="form-label">Cod Hospital</label>
    <input type="number" name="hospitalcod" class="form-control" />
    <label class="form-label mt-3">Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label class="form-label mt-3">Especialidad</label>
    <input type="text" name="especialidad" class="form-control" />
    <label class="form-label mt-3">Salario</label>
    <input type="number" name="salario" class="form-control" />
    <button class="btn btn-success mt-3">Crear doctor</button>
</form>